@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root{
  --primary-color: #67b1b0;
  --secondary-color : #26a9e0;
  --neutral-color:#5d5d5d;
  --default-color: #000;
  --helping-color:#fff;
}